<!DOCTYPE html>
<html>
    <head>
        <script language="JavaScript">
                        function change1(obj){
                            obj.style.background = '#7B52AB';
                            obj.style.color = '#ECECEC';

                        }
                         
                        function change2(obj){
                            obj.style.background = '#ECECEC';
                            obj.style.color = 'black';
                        }
            </script>
            <title>꽃길(학생용) - 계획표 작성 페이지</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
     </head>
    <body>
        <header style="opacity: 1.o;">
            <!--navigation-->   
            <div class="up-navbar">
                    <span class="up-navbar-span"><button  onmouseout="change2(this)" onmouseover="change1(this)" class="up-navbar-button">로드맵 작성</button></span>
                    <span class="up-navbar-span"><button  onmouseout="change2(this)" onmouseover="change1(this)" class="up-navbar-button">로드맵 확인</button></span>
                    <span class="up-navbar-span"><button  onmouseout="change2(this)" onmouseover="change1(this)" class="up-navbar-button">디플로마 소개</button></span>
                    <span class="up-navbar-span"><button  onmouseout="change2(this)" onmouseover="change1(this)" class="up-navbar-button">로드맵</button></span>
                    <span class="up-navbar-span"><button  onmouseout="change2(this)" onmouseover="change1(this)" class="up-navbar-button">로그인</button></span>
                
            </div>
            <!--로고-->
            <h1 class="titleA" style=" position: absolute; top: 10%; left: 49%; transform: translate(-50%, -50%); font-family: 'MSugiJeong'; color: #9768D1; font-size: 40px;"><b>꽃</b></h1>
            <h1 style="position: absolute; top: 12%; left: 51%; transform: translate(-50%, -50%); font-family: 'MSugiJeong'; color: gray; font-size: 40px"><b>길</b></h1>
            <p style="position:absolute; top:15%; left: 55%; transform: translate(-50%, -50%); font-family: 'MSugiJeong'; color: gray; font-size:18px; font-weight: 900">(학생용)</p>
            <div class="headerdivT" style="margin-bottom: 10px; margin-top: 10px; height: 75px; width: 180px"></div>
            <hr class="hr1">
            <br />
            <hr class="hr2">
        </header>
            <!--로드맵 목록-->
            <div class="roadmaptext">로드맵 목록<hr></div>
            <!--왼쪽 아래 넣는 3칸-->
            <div class="helpaskdiv" style="top: 55%">
            <h1 style="margin-left:10px">공학 디플로마</h1><p style="margin-left:10px">궁금한 내용을 물어보고 있는 것 같다. 선생님 도와주세용.</p><p style="margin-left:10px">멘토: 김민섭 선생님</p></div>
            <div class="helpaskdivdown" style="top: 66%; background-color: #9768D1;">상담 완료 &nbsp;&nbsp;</div>
                
            <div class="helpaskdiv" style="top: 82%">
            <h1 style="margin-left:10px">공학 디플로마</h1><p style="margin-left:10px">궁금한 내용을 물어보고 있는 것 같다. 선생님 도와주세용.</p><p style="margin-left:10px">멘토: 김민섭 선생님</p></div>
            <div class="helpaskdivdown" style="top: 93%; background-color: #707070">상담 신청중 &nbsp;&nbsp;</div>

            <div class="helpaskdiv" style="top: 109%">
            <h1 style="margin-left:10px">공학 디플로마</h1><p style="margin-left:10px">궁금한 내용을 물어보고 있는 것 같다. 선생님 도와주세용.</p><p style="margin-left:10px">멘토: 김민섭 선생님</p></div>
            <div class="helpaskdivdown" style="top: 120%; background-color: #707070">상담 신청중 &nbsp;&nbsp;</div>

            <div style="position:absolute; top: 79%; left: 63%; transform: translate(-50%, -50%); height: 750px; width: 1000px; border: 1px solid #707070;"></div> 
            <footer class="footerS">
                2018 Copyright Team Gilljabi All Right Reserved.
            </footer>
    </body>
</html>