<!DOCTYPE html>
<html>
    <head>
        <script language="JavaScript">
                        function change1(obj){
                            obj.style.background = '#7B52AB';
                            obj.style.color = '#ECECEC';

                        }
                         
                        function change2(obj){
                            obj.style.background = '#ECECEC';
                            obj.style.color = '#707070';
                        }
                        function change3(obj){
                            obj.style.background = '#FFFFFF';
                            obj.style.color = 'black';
                        }
            </script>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./main.css" type="text/css">
     </head>
    <body>
        <header style="opacity: 1.o;">
            <!--navigation-->   
            <div class="up-navbar">
                    <span class="up-navbar-span"><button  onmouseout="change2(this)" onmouseover="change1(this)" class="up-navbar-button">로드맵 작성</button></span>
                    <span class="up-navbar-span"><button  onmouseout="change2(this)" onmouseover="change1(this)" class="up-navbar-button">로드맵 확인</button></span>
                    <span class="up-navbar-span"><button  onmouseout="change2(this)" onmouseover="change1(this)" class="up-navbar-button">디플로마 소개</button></span>
                    <span class="up-navbar-span"><button  onmouseout="change2(this)" onmouseover="change1(this)" class="up-navbar-button">로드맵</button></span>
                    <span class="up-navbar-span"><button  onmouseout="change2(this)" onmouseover="change1(this)" class="up-navbar-button">로그인</button></span>
                
            </div>
            <!--logo-->
            
            <img style="margin-bottom: 20px;"src="logo.png" alt="꽃길 로고">
            <hr class="hr1">
        </header>
        <footer>
            2018 Copyright Team Gilljabi All Right Reserved.
        </footer>
    </body>
</html>