<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
     <link rel="stylesheet" href="./123.css" type="text/css">
</head>
<body>
   <div class="wrapper">

    </div>
    
    <div class="login-wrapper">
        <p class="Login">Login_</p>
        <hr style="width: 82%">
        
        <span class="loginwrapper1">
            idasdf
            <br>
            pw
        </span>
        
        <span class="loginbutton">
            <input type="button">
        </span>
        

    </div>

</body>
</html>