<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>꽃 길</title>
        <script language="JavaScript">
            function change1(obj){
                obj.style.background = '#7B52AB';
                obj.style.color = 'black';

            }
            
            function change2(obj){
                obj.style.background = '#7B52AB';
                obj.style.color = 'white';
            }
        </script>
        <link rel="stylesheet" href="/assets/css/loginstyle.css">
    </head>
    <body class="MLbody">
        <div class="maindivM"> 
            <div class="subdivM">
                    <h1 class="titleM" style=" left: 44%; color: rgba(130, 74, 163, 0.986)">꽃</h1><h1 class="titleM" style="left: 56%; color: gray">길</h1>
            </div>
            <div class="supdivM"></div>
            <div class="hole"></div>
            <div class="up-navbar-span"><button  onmouseout="change2(this)" onmouseover="change1(this)" class="up-navbar-button" onclick = "location.href = '/login.html'" style="position:absolute; top: 67%; left: 50%; transform: translate(-50%, -50%) ">학생용</button></div>
            <div class="up-navbar-span"><button  onmouseout="change2(this)" onmouseover="change1(this)" class="up-navbar-button" onclick = "location.href = '/teacher/login'" style="position:absolute; top: 82%; left: 50%; transform: translate(-50%, -50%); ">교사용</button></div>
            <div style = "position:absolute; top:18%; left: 50%; transform: translate(-50%, -50%); "> <img src="/assets/img/loginbutton.png" class="loginbuttonM" style="height :40px; width : 120px"></div>
            <div class="backdivM"></div>
        </div>
        <footer class="footerM">
            2018 Copyright Team Gilljabi All Right Reserved.
        </footer>
        
    </body>
</html>